<!-- public/ngtemplates/home.html -->

<h5>Angular template: public/home.html</h5>

<h3>FIFA 2014 World Cup - MATCHES</h3>

<br>

<strong><em>Create New Match</em></strong>
<form>
  <p>
    <strong>Date</strong>
    <input
      type="date"
      ng-model="new_match.match_date"/>
  </p>
  <p>
    <strong>Team 1</strong>
    <select
      ng-model="new_match.team1_id"
      ng-options="team.id as team.name for team in teams">
    </select>
  </p>
  <p>
    <strong>Team 2</strong>
    <select
      ng-model="new_match.team2_id"
      ng-options="team.id as team.name for team in teams">
    </select>
  </p>
  <button ng-click="create_match(new_match)">
    create match
  </button>
</form>

<br><br>

<div ng-repeat="team in teams">
  <strong>{{team.name}}</strong>

  <div ng-repeat="match in matches">

    <div ng-show="{{match.team1_id == team.id}}">
      {{match.match_date | date:"dd MMM yyyy"}}
      :
      {{teams[match.team1_id-1].name | uppercase}}
      {{match.score1}}
      /
      {{teams[match.team2_id-1].name}}
      {{match.score2}}

      <span ng-show="match.score2 == null">
        ** score not defined
      </span>
    </div>

    <div ng-show="{{match.team2_id == team.id}}">
      {{match.match_date | date:"dd MMM yyyy"}}
      :
      {{teams[match.team1_id-1].name}}
      {{match.score1}}
      /
      {{teams[match.team2_id-1].name | uppercase}}
      {{match.score2}}

      <span ng-show="match.score2 == null">
        ** score not defined
      </span>
    </div>

  </div>
  <br>

</div>
