<!-- public/ngtemplates/home.html -->

<h5>Angular template: public/ngtemplates/home.html</h5>

<h3>FIFA 2014 World Cup - MATCHES</h3>

<br>

<strong><em>Create New Match</em></strong>
<form>
  <p>
    <strong>Date</strong>
    <input
      type="date"
      ng-model="new_match.match_date"/>
  </p>
  <p>
    <strong>Team 1</strong>
    <select
      ng-model="new_match.team1_id"
      ng-options="team.id as team.name for team in teams">
    </select>
  </p>
  <p>
    <strong>Team 2</strong>
    <select
      ng-model="new_match.team2_id"
      ng-options="team.id as team.name for team in teams">
    </select>
  </p>
  <button ng-click="create_match(new_match)">
    create match
  </button>
</form>

<br><br>

<strong><em>Score not yet recorded:</em></strong>
<div ng-repeat="match in scoreless">
  <form>
    {{match.match_date}}
    {{teams[match.team1_id-1].name}}
    <select
      ng_model="match.score1"
      ng-options="num.n as num.str for num in score_form_values" >
    </select>
    /
    {{teams[match.team2_id-1].name}}
    <select
      ng_model="match.score2"
      ng-options="num.n as num.str for num in score_form_values" >
    </select>
    <button ng-click="update_match(match)">
      submit score
    </button>
  </form>
</div>

<br><br>

<div ng-repeat="team in teams">
  <strong>{{team.name}}</strong>

  <div ng-repeat="match in matches">

    <div ng-show="match.team1_id == team.id">
      <span ng-show="match.score1 >= 0 && match.score2 >= 0">
        {{match.match_date | date:"dd MMM yyyy"}}
        :
        {{teams[match.team1_id-1].name | uppercase}}
        {{match.score1}}
        /
        {{teams[match.team2_id-1].name}}
        {{match.score2}}
      </span>
    </div>

    <div ng-show="match.team2_id == team.id">
      <span ng-show="match.score1 >= 0 && match.score2 >= 0">
        {{match.match_date | date:"dd MMM yyyy"}}
        :
        {{teams[match.team1_id-1].name}}
        {{match.score1}}
        /
        {{teams[match.team2_id-1].name | uppercase}}
        {{match.score2}}
      </span>
    </div>

  </div>
  <br>

</div>
