<div>
<h3>Consume RESTful APIs with $resource and Restangular</h3>

<p>This is the 'Rails_Home' index page, created to provide a home/index page from a Rails perspective. We will put the view for our Angular app inside here.</p>
</div>
